/* *** Base style common to all pages *** */

body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	color: #000000;
	background-color: #FFFFFF;
}
*{
	margin:0;
	padding:0;
	font-size: 1em;	
}

#main {
	background-image: url(../templates_home/bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	width: 100%;
}

#mainright {
	padding: 10px 5px 5px 15px;
	text-align: left;
	vertical-align: top;
	float: left;
	color: #FFFFFF;
	width: 200px;
}
/* IE box workarround */
#main>#mainright {
	width: 175px;
}

#mainleft {
	float: left;
	width: 760px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
/* IE box workarround */
#main>#mainleft {
	width: 740px;
}

#mainleft #branch {
	font-size: 1.4em;
	color: #999999;
}

#mainleft #branch a:link {
	color: #666666;
}
#mainleft #branch a:visited {
	color: #666666;
}
#mainleft #branch a:hover {
	color: #FF9900;
}
#mainleft #branch a:active {
	color: #FF9900;
}
#mainleft #branch a:focus {
	color: #FF9900;
}
.hr {
        margin-top: 5px;
	background-color: #D6D6D6;
	height: 2px;
	width: 100%;
	border: 0px none;
	margin-bottom: 10px;

}