#mainleft table {
	font-size: 1.2em;
	width: 300px;
	border: 2px solid #660000;
	padding: 20px;



}
#login {
	padding-left: 200px;
}
#mainleft .loginitem {
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
	color: #666666;
	letter-spacing: 0.2em;
	padding-top: 5px;
	padding-bottom: 10px;

}
#mainleft .logintext {
	text-align: right;
	vertical-align: baseline;
}
