#sitemap {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  list-style-type: none;
}
.nodelevel0 {
  font-size: 1.8em;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
}
.nodelevel1 {
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
}
.nodelevel2 {
  font-size: 1.4em;
  font-weight: 500;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 60px;
}
.nodelevel3 {
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 80px;
}
.nodelevel4 , .nodelevel5 , .nodelevel6{
  font-size: 1em;
  font-weight: 500;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

h1 {
  font-size: 2em;
  color:#0066CC;
}

#sitemap a:link{
	color:#0066CC;
}
#sitemap a:visited{
	color:#666666;
}

#sitemap a:active {
	color:#993300;
}
#sitemap a:hover {
	color:#CC6600;
}
#sitemap a:focus {
	color:#0066CC;
}