#mainright {
	font-size: 1.2em;
}
#mainright p{
	padding-bottom: 5px;
}
#mainright h1,h2,h3,h4,h5,h6{
	font-weight: bold;

}
#mainright h1{
	font-size: 1.4em;
	padding-bottom: 5px;
	color: #FFCC00;

}
#mainright h2{
	font-size: 1.3em;
	padding-bottom: 4px;
	color: #FFCC00;

}
#mainright h3{
	font-size: 1.2em;
	padding-bottom: 3px;
	color: #FFCC00;
}
#mainright h4{
	font-size: 1.1em;
	padding-bottom: 3px;
	color: #FFCC00;

}
#mainright h5{
	font-size: 1em;
	padding-bottom: 3px;
	color: #FFCC00;

}
#mainright h6{
	font-size: 0.9em;
	padding-bottom: 3px;
	color: #FFCC00;

}
#mainright pre {
	font-family: "Courier New", Courier, mono;
	font-size: 1em;
	margin: 20px;	
}
#mainright ul,ol{
        font-size: 1.2em;
	padding-left: 0px;
	margin-left: 20px;
	padding-bottom: 0px;
	margin-bottom: 10px;	
}
#mainright .forecolor {
	color: #FF0000;
}
#mainright .backcolor {
	background-color: #EBEBEB;
}
#mainright .quote {
	padding: 10px;
	margin: 10px;
	background-color: #EBEBEB;
}
#mainright .f8{
	font-size: 0.8em;
}
#mainright .f10{
	font-size: 1em;	
}
#mainright .f12{
	font-size: 1.2em;
}
#mainright .f14{
	font-size: 1.4em;	
}
#mainright .f16{
        font-size: 1.6em;		
}
#mainright .f18{
        font-size: 1.8em;	
}
#mainright .f20{
        font-size: 2em;	
}


#mainright a:link {
	color: #FFFFFF;
}

#mainright a:visited {
	color: #CCCCCC;
}

#mainright a:active, a:hover, a:focus  {
	color: #FFFF00;
}

#mainright .hr {
        margin-top: 3px;
	background-color: #516570;
	height: 2px;
	width: 100%;
	border: 0px none;


}
#mainright a.smart_pager {
	font-size: 10px;
}
#mainright span.smart_pager {
	font-size: 10px;
	font-weight: bold;
}
