#blogmainarticle  p{
	font-size: 1em;
	padding-bottom: 10px;
	line-height: 1.2em;

}
#blogmainarticle  h1,h2,h3,h4,h5,h6{
	font-weight: bold;
	font-style: italic;
	color: #666666;


}
#blogmainarticle  h1{
	font-size: 2em;
	padding-bottom: 10px;

}
#blogmainarticle  h2{
	font-size: 1.7em;
	padding-bottom: 8px;

}
#blogmainarticle  h3{
	font-size: 1.5em;
	padding-bottom: 5px;
}
#blogmainarticle  h4{
	font-size: 1.5em;
	padding-bottom: 5px;

}
#blogmainarticle  h5{
	font-size: 1.4em;
	padding-bottom: 5px;

}
#blogmainarticle  h6{
	font-size: 1.3em;
	padding-bottom: 5px;

}
#blogmainarticle  pre {
	font-family: "Courier New", Courier, mono;
	font-size: 1.2em;
	margin: 20px;	
}
#blogmainarticle  ul,ol{
	padding-left: 0px;
	margin-left: 20px;
	padding-bottom: 0px;
	margin-bottom: 10px;	
}
#blogmainarticle  li{
	line-height: 1.4em;
}
#blogmainarticle  .forecolor {
	color: #FF0000;
}
#blogmainarticle  .backcolor {
	background-color: #EBEBEB;
}
#blogmainarticle  .quote {
	padding: 10px;
	margin: 10px;
	font-size: 1.2em;
	background-color: #EBEBEB;
}
#blogmainarticle .f8{
	font-size: 0.8em;
}
#blogmainarticle .f10{
	font-size: 1em;	
}
#blogmainarticle .f12{
	font-size: 1.2em;
}
#blogmainarticle .f14{
	font-size: 1.4em;	
}
#blogmainarticle .f16{
        font-size: 1.6em;		
}
#blogmainarticle .f18{
        font-size: 1.8em;	
}
#blogmainarticle .f20{
        font-size: 2em;	
}


#blogmainarticle  a:link {
	color: #336699;
}

#blogmainarticle  a:visited {
	color: #3399CC;
}

#blogmainarticle  a:active {
	color: #FF0000;
}
#blogmainarticle  a:hover {
	color: #FF0000;
}
#blogmainarticle  a:focus  {
	color: #FF0000;
}

.hr {
        margin-top: 3px;
	background-color: #516570;
	height: 2px;
	width: 100%;
	border: 0px none;
	margin-bottom: 5px;

}
a.smart_pager {
	font-size: 1.2em;
}
span.smart_pager {
	font-size: 1.2em;
	font-weight: bold;
}
