/* *** Base style common to all pages *** */

body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	color: #000000;
	background-color: #FFFFFF;
}
*{
	margin:0;
	padding:0;
	font-size: 1em;	
}

#globalheader {
	width: 100%;
}

#moduleheader {
	width: 100%;
        font-size: 1.4em;
        color: #000000;
        background-color: #FFFFFF;
}

#modulemain {
	width: 100%;
}

#globalfooter {
	width: 100%;
        font-size: 1.1em;
        color: #000000;
        background-color: #FFFFFF;
}