
#mainleft dl {
	float: left;
	width: 350px;
        margin: 5px;
        border: 1px solid #D6D6D6;
}
#mainleft dt {
        font-size: 1.4em;
	color:#0066CC;
	font-weight: bold;
	padding-top: 5px;
        padding-left: 20px;
}
#mainleft dl ul {
	padding-top: 10px;
	font-size: 1.2em;
}
#mainleft dl li {
	line-height: 1.3em;
	padding-bottom: 8px;
}

#mainleft .li a:link{
	color:#0000FF;
}
#mainleft .li a:visited{
	color:#0000FF;
}
#mainleft .li a:active {
	color:#FF0000;
}
#mainleft .li a:hover {
	color:#FF0000;
}
#mainleft .li a:focus {
	color:#FF0000;
}

#mainleft h3{
	font-size: 1.6em;
	color: #666666;
	font-style: italic;


}
