#mainleft  p{
	font-size: 1.3em;
	padding-bottom: 10px;
	line-height: 1.4em;

}
#mainleft  h1,h2,h3,h4,h5,h6{
	font-weight: bold;
	font-style: italic;
	color: #666666;


}
#mainleft  h1{
	font-size: 2em;
	padding-bottom: 10px;
	font-weight: bold;


}
#mainleft  h2{
	font-size: 1.9em;
	padding-bottom: 8px;
	font-weight: bold;


}
#mainleft  h3{
	font-size: 1.8em;
	padding-bottom: 5px;
	font-weight: bold;

}
#mainleft  h4{
	font-size: 1.7em;
	padding-bottom: 5px;
	font-weight: bold;


}
#mainleft  h5{
	font-size: 1.6em;
	padding-bottom: 5px;
	font-weight: bold;


}
#mainleft  h6{
	font-size: 1.5em;
	padding-bottom: 5px;
	font-weight: bold;


}
#mainleft  pre {
	font-family: "Courier New", Courier, mono;
	font-size: 1.2em;
	margin: 20px;	
}
#mainleft  ul,ol{
	padding-left: 0px;
	margin-left: 40px;
	padding-right: 0px;
	margin-right: 40px;
	padding-bottom: 0px;
	margin-bottom: 20px;	
	font-size: 1.3em;
}
#mainleft  li{
	line-height: 1.4em;
}
#mainleft  .forecolor {
	color: #FF0000;
}
#mainleft  .backcolor {
	background-color: #EBEBEB;
}
#mainleft  .quote {
	padding: 10px;
	margin: 10px;
	font-size: 1.2em;
	background-color: #EBEBEB;
}
#mainleft .f8{
	font-size: 0.8em;
}
#mainleft .f10{
	font-size: 1em;	
}
#mainleft .f12{
	font-size: 1.2em;
}
#mainleft .f14{
	font-size: 1.4em;	
}
#mainleft .f16{
        font-size: 1.6em;		
}
#mainleft .f18{
        font-size: 1.8em;	
}
#mainleft .f20{
        font-size: 2em;	
}


#mainleft  a:link {
	color: #336699;
}

#mainleft  a:visited {
	color: #3399CC;
}

#mainleft  a:active {
	color: #FF0000;
}
#mainleft  a:hover {
	color: #FF0000;
}
#mainleft  a:focus  {
	color: #FF0000;
}

a.smart_pager {
	font-size: 1.2em;
}
span.smart_pager {
	font-size: 1.2em;
	font-weight: bold;
}

.date {
	font-size: 0.9em;
	color: #3399CC;
        margin: 0px;
        padding: 0px;
}

/****  Article Comment ****/
dl.comment{
        width: 550px;
        margin-left: 10px;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #EBEBEB;
}
.comment dt{
        font-size: 1.2em;
}
.comment dd{
        font-size: 1.0em;
        padding-left: 30px;
}
#commentmessage {
        font-size: 1.2em;
        padding: 5px;
        color: #FF0000;
        background-color: #EBEBEB;
        font-weight: bold;
}
#commentformelements {
        font-size: 1.2em;
        color: #666666;
}
#commentformelements .commentFormCol1 {
        font-size: 1.0em;
        padding: 2px;
        font-weight: bold;
}
#commentformelements input {
        font-size: 1.2em;
}
#commentformelements textarea {
        font-size: 1.5em;
}
#commentformelements .turing {
        float: left;
        padding: 20px;
}
#commentformelements .captcha {
        padding: 20px;
}
#commentformelements a:link, a:hover, a:visited {
        color: #666666;
}
/****  RPC Articles ****/
dl.rpcarticles{
        width: 250px;
        margin-left: 10px;
}
dl.rpcarticles dd{
        font-size: 1.2em;
}

/****  keyword related items of the right column ****/
.keybloc{
    margin-top: 20px;
}
.keybloc a{
    font-size: 0.75em;
}