# Required to get work the PEAR XML_RPC package
#
php_flag always_populate_raw_post_data On

RewriteEngine on

# May you have to change the path to japa
# if it dosent work

#RewriteBase /japa/

# ajax server call
RewriteRule .*ajaxserver\.php(.*)$ ajaxserver.php$1 [L] 

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l 
RewriteRule ^(.*)$ index.php/$1 [L] 

