Allow from all

RewriteEngine on

# May you have to change the path to japa
# if it dosent work

#RewriteBase /japa/

RewriteCond %{SCRIPT_FILENAME} !\.(jpg|jpeg|gif|png|css|js|pl|txt)$ [NC] 
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l 
RewriteRule ^(.*)$ index.php [L] 

